.between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.margin {
    margin: auto;
}

.end {
    justify-content: end;
}
