@import url(./gird.css);
@import url(./font.css);

:root {
    --color-green:#21a038;
    --color-black: #000000;
}

/* *_______________MAIN STYLES_______________* */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Gilroy', serif;
  font-weight: 400;
  color: var(--color-black);
  font-size: 17px;
  line-height: 1.4;
}

h1 {
  margin: 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.2;
}

h2 {
  line-height: 1.36;
  margin: 0;
  font-weight: 700;
  font-size: 37px;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.btn {
  border: 1px solid var(--color-green);
  color: var(--color-black);
  cursor: pointer;
}

.btn-green {
  color: var(--color-green)
}

/* *_______________header_______________* */
.header {
  padding-top: 32px;
  position: relative;
}

.header .container {
  display: flex;
  text-align: center;
  align-items: center;
}

.header-call_number {
  display: flex;
  gap: 15px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.header nav {
  display: flex;
  gap: 40px;
  font-size: 16px;
  margin-right: 99px;
}

.header_logo {
  position: absolute;
  left: 10%;
  top: 12px;
}

.header_btn {
  position: absolute;
  right: 10%;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 46px; 
  border-radius: 6px;
  background: none;
}

/* *_______________welcome_______________* */

.welcome_title {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
  max-width: 771px;
  margin-bottom: 40px;
}

.welcome_title span {
  color: var(--color-green);
}