@import url(./gird.css);
@import url(./font.css);

:root {
    --color-green:#21a038;
    --color-black: #000000;
    --color-white: #ffffff;
}

/* *_______________MAIN STYLES_______________* */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Gilroy', serif;
  font-weight: 400;
  color: var(--color-black);
  font-size: 17px;
  line-height: 1.4;
}

h1 {
  margin: 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.2;
}

h2 {
  line-height: 1.36;
  margin: 0;
  font-weight: 700;
  font-size: 37px;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1232px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.btn {
  border: 1px solid var(--color-green);
  color: var(--color-black);
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.btn-green {
  color: var(--color-white);
  background: var(--color-green);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* *_______________header_______________* */
.header {
  padding-top: 32px;
  position: relative;
}

.header .container {
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
}

.header-call_number {
  display: flex;
  gap: 15px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.header nav {
  display: flex;
  gap: 40px;
  font-size: 16px;
  margin-right: 99px;
}

.header_logo {
  position: absolute;
  left: -138px;
  top: -25px;
}

.header_btn {
  position: absolute;
  right: -140px;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 46px; 
  background: none;
}

/* *_______________welcome_______________* */
.welcome {
  /* padding-top: 152px; */
  /* padding-bottom: 120px; */
}

.welcome .container {
  background-repeat: no-repeat;
  background-image: url(../img/welcome_img-1.png);
  background-position: calc(100% - 26px) calc(50% + 50px);
  overflow: hidden;
  padding-top: 152px;
  padding-bottom: 206px;
}

.welcome .container-two {
  background-image: url(../img/welcome_img-2.png);
  background-position: calc(100% - 811px) calc(50% + 50px);
}

.welcome_title {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
  max-width: 771px;
  margin-bottom: 40px;
}

.welcome_title span {
  color: var(--color-green);
}

.welcome_text {
  position: relative;
  max-width: 291px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  margin-left: 32px;
}

.welcome_text::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 57px;
  background: var(--color-green);
  transform: translateX(-32px);
}

.welcome_btn {
  margin-top: 60px;
  padding: 23px 61px;
}

.gradient-bg {
  background: linear-gradient(to bottom, #FBFFF9, #E0F2DC);
}

/* *_______________welcome-2_______________* */
.welcome .two {
  justify-content: end;
}

.welcome_title-two {
  max-width: 771px;
  font-size: 44px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 50px;
  margin-left: auto;
}

.welcome_text-two {
  position: relative;
  max-width: 648px;
  font-size: 30px;
  line-height: 1.4;
  font-weight: 500;
  margin-left: auto;
  margin-right: 92px;
}

.welcome_text-two::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 155px;
  background: var(--color-green);
  transform: translateX(-31px) translateY(9px);
}

.welcome_btn-two {
  display: block;
  margin-left: auto;
  margin-right: 527px;
}